@model List<Vidly.Models.MovieModel>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var moviesTable = $('#movies').DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data:"name",
                        render: function (data, type, movies) {
                            return "<a href='movies/details/" + movies.id + "'>" + movies.name + "</a>";

                        }
                    },
                    {
                        data:"genre.name",

                    }
                ]


            });

        });
    </script>
}