@model Vidly.Models.CustomerModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthdayDate != null)
    {
        <li>Birthday Date: @Model.BirthdayDate.Value.Day/@Model.BirthdayDate.Value.Month/@Model.BirthdayDate.Value.Year</li>
    }

</ul>

